.dashBoardPage {
  display: grid;
  grid-template-columns: 1fr 325px;
  gap: 20px;
  height: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  gap: 20px;
  height: calc(100vh - 112px - 2rem);
}

.stats {
  background-color: #d9edec;
}

.dashboard .noteList {
  grid-row: span 4;
  background-color: #e1ffe2;
}

.reviewList {
  grid-row: span 3;
  background-color: #fff8b8;
  overflow-y: scroll;
}

.dashBoardComponent {
  padding: 1rem;
  border-radius: 5px;
}

.statDiv {
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 5px;
  min-width: 140px;
  width: 45%;
}

.statDiv .iconDiv {
  padding: 5px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.statDiv .connectionsStat {
  background-color: #3498db;
}

.statDiv .notesStat {
  background-color: #2ecc71;
}

.statDiv div {
  display: flex;
  align-items: center;
}

.statDiv p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: rgb(102, 102, 102);
}

.statNumber {
  font-weight: 600;
}

@media (max-width: 850px) {
  .dashboard {
    grid-template-columns: 1fr;
    padding-bottom: 2rem;
  }

  .dashboard .noteList,
  .dashboard .reviewList {
    min-height: 450px;
    height: 30vh;
  }
}

@media (max-width: 385px) {
  .statDiv p {
    font-size: 10px;
  }

  .statDiv {
    min-width: 0;
  }
  .dashboard .noteList,
  .dashboard .reviewList {
    width: 90vw;
  }
}

@media (max-width: 1200px) {
  .dashBoardPage {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .dashboard {
    padding-bottom: 4rem;
  }
}
