.myNoteList {
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  grid-column: span 2;
}

.notes {
  display: grid;
  height: 90%;
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  gap: 16px;
  justify-content: center;
}

.note {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 10px;
  background-color: #f2f8fe; 
}

.note .noteInfo p {
  margin: 0;
}

.note .subject {
  font-size: 1.25rem;
  font-weight: bold;
}

.note .title {
  font-size: 1rem;
  font-weight: 500;
}

.note .postedBy {
  font-size: 0.75rem;
  font-style: italic;
  color: #888;
}

.note .uploadDate {
  font-size: 0.75rem;
  color: #888;
}

.noteButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.noteButtons button.update {
  background-color: #3498db; 
  color: #fff;
}

.noteButtons button.delete {
  background-color: #e74c3c; 
  color: #fff;
}

.noteButtons button:hover {
  opacity: 0.9;
}
