.navBar {
  position: fixed;
  top: 112px;
  width: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  background-color: #d9edec;
  z-index: 10;
}

.navButtons {
  flex-direction: column;
  display: flex;
  gap: 50px;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;
  width: fit-content;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.navButton:active{
  cursor: pointer;
}
.navButton:hover {
  transform: scale(1.1);
  border-radius: 25%;
}

.navButton.active {
  transform: scale(1.1);
  border-radius: 25%;
}

.dashBoardIcon {
  background-color: #3498db;
}

.noteIcon {
  background-color: #9b59b6;
}

.addIcon {
  background-color: #1abc9c;
}

.friendsIcon {
  background-color: #2ecc71;
}

.chatIcon {
  background-color: #e67e22;
}

@media (max-width: 640px) {
  .navBar {
    top: auto;
    bottom: 0;
    padding-top: 0;
    flex-direction: row;
    width: 100vw;
    height: 4rem;
  }

  .navButtons {
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    gap: 0px;
    justify-content: space-around;
  }

  .navButton {
    padding: 0.5rem;
  }
}