.dashBoardPage {
  display: grid;
  grid-template-columns: 1fr 325px;
  gap: 20px;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
  height: 100%;
}

.stats {
  background-color: #d9edec;
}

.myNotes {
  grid-row: span 4;
  background-color: #e1ffe2;
}

.reviewList {
  grid-row: span 3;
  background-color: #fff8b8;
}

.dashBoardComponent {
  padding: 1rem;
  border-radius: 5px;
}

.statDiv {
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  padding: 10px;
  border-radius: 5px;
  min-width: 140px;
  width: 45%;
}

.statDiv .iconDiv {
  padding: 5px;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.statDiv .connectionsStat {
  background-color: #3498db;
}

.statDiv .notesStat {
  background-color: #2ecc71;
}

.statDiv div {
  display: flex;
  align-items: center;
}

.statDiv p {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.3rem;
  color: rgb(102, 102, 102);
}

.statNumber {
  font-weight: 600;
}

@media (max-width: 780px) {
  .dashboard {
    grid-template-columns: 1fr;
  }

  .myNotes,
  .reviewList {
    min-height: 350px;
  }

  .reviewList {
    margin-bottom: 1rem;
  }
}

@media (max-width: 385px) {
  .statDiv p {
    font-size: 10px;
  }

  .statDiv {
    min-width: 0;
  }
}

@media (max-width: 1200px) {
  .dashBoardPage {
    grid-template-columns: 1fr;
  }
}