.myNoteList {
  height: 100%;
  overflow-y: scroll;
  grid-column: span 2;
}

.notes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 500px));
  gap: 16px;
  justify-content: center;
}

.note {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.note .noteInfo p {
  margin: 0;
}

.note .subject {
  font-size: 1.25rem;
  font-weight: 600;
}

.note .title {
  font-size: 1rem;
  font-weight: 500;
  color: #666;
}

.note .postedBy {
    font-size: 0.75rem;
  font-weight: 600;
  color: #888;
}

.note .uploadDate {
  color: #888;
  font-size: 0.75em;
}
