.noteNook {
  position: fixed;
  top: 7rem;
  left: 112px;
  background-color: aliceblue;
  border-top-left-radius: 20px;
  height: calc(100vh - 112px);
  width: calc(100vw - 112px);
  padding: 2rem;
  display: grid;
  overflow-y: scroll;
  grid-template-columns: 1fr 325px;
  gap: 20px;
}

.header {
  background-color: #d9edec;
  z-index: 10;
}

.placeHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: gray;
}

@media (max-width: 1200px) {
  .noteNook {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .noteNook {
    top: 5rem;
    left: 0px;
    border-radius: 0px;
    width: 100vw;
    padding: 1rem;
  }
}
