.noteNook {
  position: relative;
  margin-top: 7rem;
  margin-left: 112px;
  background-color: aliceblue;
  border-top-left-radius: 20px;
  height: calc(100vh - 112px);
  padding: 2rem;
  display: grid;
  overflow-y: scroll;
  grid-template-columns: 1fr 325px;
  gap: 20px;
}

.header {
  background-color: #d9edec;
}

.placeHolder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: gray;
}

@media (max-width: 1200px) {
  .noteNook {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 640px) {
  .noteNook {
    margin-top: 5rem;
    margin-left: 0px;
    border-radius: 0px;
    height: calc(100vh - 9rem);
    padding: 1rem;
  }
}