.textEditor {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  align-items: center;
}

.toolBarContainer {
  position: sticky;
  top: 0;
  height: 5%;
}

#textEditorContainer {
  height: 90%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 8px;
  padding: 1rem;
}

.ql-editor{
  height: 100%;
  overflow-y: scroll;
}

.ql-container {
  border-radius: 30px;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: none;
}
