@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html {
  height: -webkit-fill-available;
}

.logo {
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: translate(-0.5px, -0.5px) scale(1.02);
}

body {
  background-color: #d9edec;
  height: -webkit-fill-available;
}

.min-height-50 {
  min-height: 50vh;
}

.min-height-60 {
  min-height: 60vh;
}

.button {
  align-items: center;
  background-color: #157ce3;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  justify-content: center;
  overflow: hidden;
  padding: 8px 15px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  background-color: #16437e;
  color: #ffffff;
}

.button:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.heading {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

@media (max-width: 640px) {
  .heading {
    font-size: 1rem;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}
